body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}

h1{
    font-size: 49px;

}

input{
    width: 50%;
    border-radius: 10px;

}
button{
    color: aliceblue;
    background-color: black;
    margin-left: 1%;
    border-radius: 10px;
}

.container_2{
    column-gap: 5px;
    columns: 4;
    margin-top: 1%;
}